/* Media query for smaller screens */
@media (max-width: 768px) {
  .app-name-bar {
    text-align: center;
    padding: 10px 0; /* Adjust padding for smaller screens */
  }

  .app-name {
    font-size: 24px; /* Adjust font size for smaller screens */
  }
}
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
.wishlist{
  float: right;
  font-family: Poppins;
color: blanchedalmond;
word-spacing: 0.5px;
background: #000;
}
.Bag{
  float: right;
font-family: Poppins;
color: blanchedalmond;
word-spacing: 0.5px;
background: #000;
}
.app-name {
width: 176px;
height: 60px;
top: 41px;
left: 90px;
border: 1px;
font-family: Poppins;
font-size: 40px;
font-weight: 275;
line-height: 60px;
letter-spacing: 0em;
text-align: left;
border: 1px solid,#ffffff00;
background-color: black;
/* background: linear-gradient(0deg, #FFFFFF, #FFFFFF); */
color:#FFFFFF;
padding-left: 30px;


}
.app-name-bar{
  background: #000;
  overflow-y: hidden;
  overflow-x: hidden;
  display: block;
}
.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: rgb(8, 5, 5);
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.top-footer {
  background-color: #f0f0f0;
  padding: 20px;
  display: flex;
  justify-content: space-around;
}

.footer-section {
  text-align: center;
}

.social-media-icons {
  margin-top: 10px;
}

/* Include your own font-awesome or other icon library styles here */

